
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/





.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.userprefs
*.pidb
*.booproj
*.user

.DS_Store
Thumbs.db


crashlytics-build/
*.log


*.swp
*.tmp

.fake