# Unity tarafından oluşturulan klasörler ve dosyalar
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Unity meta dosyaları
/[Aa]ssets/**/*.meta

# Visual Studio, JetBrains Rider ve diğer IDE dosyaları
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.userprefs
*.pidb
*.booproj
*.user

# OS spesifik dosyalar
.DS_Store
Thumbs.db

# Unity Crash ve Log dosyaları
crashlytics-build/
*.log

# Bazı kişisel ve geçici ayarlar
*.swp
*.tmp
